@font-face {
  font-family: 'Avenir';
  src: url('./assets/fonts/avenir/Avenir-Book.ttf');
}

@font-face {
  font-family: 'Montserrat';
  src: url('./assets/fonts/montserrat/Montserrat-Regular.ttf');
}

body {
  font-family: 'Avenir', sans-serif;
  background-color: #fff;
  margin: 0;
  padding: 20px;
}

.title {
  text-align: center;
  font-size: 32px;
  font-weight: 400;
  margin-bottom: 20px;
}

.container {
  max-width: 1100px;
  margin: auto;
}

.carousel {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
}